<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= paginate @feed_items, param_name: :feed_page %>
<% else %>
  <p>
    Couldn't find any micropost.
  </p>
<% end %>